package views

templ Index() {
	<!DOCTYPE html>
	<html>
	<head>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
		<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
	</head>
	<body>

		<h1>Hello World</h1>

		<button 
			hx-get="/users" 
			hx-target="#users" 
			hx-swap="innerHTML">
			Load Users
		</button>

		<div id="users"></div>

	</body>
	</html>
}